::-webkit-scrollbar {
  width: 12px; /* Width of the vertical scrollbar */
  height: 12px; /* Height of the horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background-color: #121212; /* Black background for the scrollbar track */
  border-radius: 10px; /* Curved edges for the track */
}

::-webkit-scrollbar-thumb {
  background-color: #00d9ff; /* Blue color for the draggable thumb */
  border-radius: 10px; /* Curved edges for the thumb */
  border: 3px solid #121212; /* Add a slight border to thumb for separation */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #0086c1; /* Darker blue when hovering over the thumb */
}

/* For the horizontal scrollbar, if needed */
::-webkit-scrollbar-horizontal {
  height: 12px;
}

::-webkit-scrollbar-corner {
  background-color: #121212; /* Black background where vertical and horizontal scrollbars meet */
}

html {
  scrollbar-width: thin; /* Makes the scrollbar thinner */
  scrollbar-color: #00d9ff #f1f1f1; /* Thumb color and track color */
  scroll-behavior: smooth;
}
